{% extends 'base.html.twig' %}

{% block title %}Blog Jstore!{% endblock %}

{% block body %}
  <div class="articles">
    {% for article in articles %}
      <div class="article-item">
        <div class="article-image">
          <img src="{{ article.imageUrl }}" width="300" alt="Image de l'article : {{ article.title }}">
        </div>
        <div class="article-details">
          <div class="article-author-details">
            <img class="article-author-picture" src="{{ article.author.profile.picture }}" width="50" alt="Image de profil de {{ article.author.username }}"/>
          </div>
          <div class="article-content-details">
            <h2 class="article-title">{{ article.title }}</h2>
            <div class="article-createdAt">{{ article.createdAt | date("d/m/Y") }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
